.osn_menu_blok, .header_menu, .page_title, .gray_title, .other_plants_category_list, .other_plants_wrapper, .plants_gallery, .green-italic-title, .bottom-italic-text, .border-separate, .sisea-search-form-container {
  display: none;
}

/*.footer*/
/*{*/
/*display: none;*/
/*}*/

.print {
  display: block;
}

.plants_card {
  float: left;
  width: 1000px;
  height: 550px;
  padding: 25px 30px;
  margin: 100px 0 20px 0;
  background-color: #ffffff;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  border: none;

  h1 {
    color: #4e4e4e;
    font-size: 20px;
    margin-left: 10px;

    span {
      color: #4e4e4e;
      font-size: 20px;
      margin-left: 10px;
    }

    color: #000000;
    font-size: 27px;
    margin-left: -10px;
  }
}

.product_properties table {
  position: relative;
  border-collapse: collapse;

  tr {
    td, th {
      font-size: 15px;
      height: 30px;
      padding: 3px 10px;
      border: 1px solid #b4b4b4;
      color: #000000;
      width: 225px;
    }

    td {
      font-size: 15px;
      font-weight: bold;

      &:last-child {
        color: #446338;
      }
    }

    th {
      color: #394836;
    }
  }
}

.plants_description {
  width: 655px;
  margin-left: 35px;

  p {
    font-size: 20px;
    line-height: 23px;
    color: #41403f;
  }
}

.plants_gallery img {
  width: 275px;
  height: 475px;
  margin-top: 15px;
}

.view_from_above {
  display: none;
}

.page_title_print {
  display: block;
  position: absolute;
  margin: 105px 0 0 250px;
  font-size: 35px;
  font-weight: bold;
}

.logo_printed_card {
  display: block;
}

.under_name_category_print {
  display: block;
  position: absolute;
  margin: 175px 0 0 400px;
  font-size: 30px;
  color: #505050;
}

.print_button2 {
  display: none;
}

.plants_card {
  margin-top: 155px;

  h1 {
    border: none;
  }
}

.more_information_about_buying_printout {
  float: left;
  font-size: 21px;
  margin-left: 65px;
  margin-top: -5px;
  color: #494949;
  font-style: italic;
  line-height: 35px;
  display: block;
}

.footer_when_printing {
  position: absolute;
  margin: 1425px 0 0 0;
  width: 100%;
  height: 25px;
  display: block;
}

/*****************************/

.blok-header-nav1, .other-plants-wrapper, .other-plants-category-list, .page-title, .gray-title, .b-share, .share, .plants-gallery, .other-flower-category-list, footer, green-print {
  display: none;
}

body, .top-leaves, .about-company, .background-inside-container {
  background: none;
}

.about-company {
  border-bottom: none;
}

#consultsystems_button_0 {
  display: none;
}

.category-text, .plants-description p span {
  color: #444;
  font-size: 12px !important;
  line-height: 17px !important;
}

.plants-card, .flower-card {
  float: left;
  position: relative;
  left: -160px;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 1px 9px rgb(255, 255, 255);
  -moz-box-shadow: 0 1px 9px rgb(255, 255, 255);
  -webkit-box-shadow: 0 1px 9px rgb(255, 255, 255);
  -ms-box-shadow: 0 1px 9px rgb(255, 255, 255);
  -o-box-shadow: 0 1px 9px rgb(255, 255, 255);
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border: 1px solid #ffffff;
}

.plants-card h2, .flower-card h2 {
  border-bottom: none;
}

.plants-description {
  width: 730px;
  padding-top: 7px;
  margin-left: 20px;
}

.g-center {
  text-align: center;
}

.plants-description p {
  font-size: 20px;
  line-height: 23px;
  color: #403f3e;
}

.plants-card h2, .flower-card h2 {
  font-size: 30px;
  color: #353535;
}

.plants-card h2 span, .flower-card h2 span {
  font-size: 22px;
  color: #353535;
}

.title-print {
  float: left;
  display: block;
  margin-left: -100px;
  font-size: 32px;
  color: #000000;
  margin-bottom: 10px;
  width: 1000px;
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman";
}

.green-print {
  display: block;
  float: left;
  margin-top: 15px;
  margin-left: -100px;
  font-size: 25px;
  color: #3d3d3d;
  width: 1000px;
  text-align: center;
}

.text-tree-print {
  display: block;
  float: left;
  margin-left: -140px;
  color: #414141;
  margin-bottom: 7px;
  margin-top: 50px;

  p {
    font-style: italic;
    font-size: 20px;
    color: #414141;
    margin-bottom: 7px;
  }
}

.img-print {
  float: left;
  width: 250px;
  margin-left: 265px;
  margin-bottom: 25px;
  display: block;
}

.text-niz-print {
  display: block;
  position: absolute;
  color: #000000;
  bottom: 0;
  border-top: 1px solid #1d1d1d;

  p {
    margin-top: 8px;
    font-size: 17px;

    /*margin-left: -60px;*/
    width: 2750px;
    color: #000000;
  }
}

/*body, .content  {*/
/*width: 1300px;*/
/*}*/

.product-properties table {
  width: 100%;
  height: 75px;

  /*margin-left: -25px;*/

  tr {
    th {
      color: #000000;
      font-size: 16px;
      line-height: 19px;
    }

    td {
      font-size: 15px;
      color: #000000;
      font-weight: normal;

      &:last-child {
        font-size: 15px;
        color: #254129;
      }
    }
  }
}

.plants-card h3, .flower-card h3 {
  font-family: 'Merriweather', serif;
  color: #699154;
  font-size: 22px;
  float: left;
  width: 100%;
  padding-bottom: 10px;
  margin: 0 0 8px 0;
  border-bottom: 1px dashed #B9B9B9;
  text-indent: 10px;
}

.plants-description-gallery-wrapper h3 span {
  color: #999;
  font-size: 11px;
}

.plants-card h3 span, .flower-card h3 span {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 23px;
  color: #AFAFAF;
}

.style_table {
  display: none;
}

.shop-buy-img {
  display: none !important;
}
