
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=b5b8fc02d5ce9d0d761c2f1aa106693e
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress