
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=a6f5dea1025460d5b0d96e17d203a543
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress